.primary_color {
    background-color: $primary_color;
}
.secondary_color {
    background-color: $secondary_color;
}
.color_text {
    color: $color_text;
}
.second_color_text {
    color: $second_color_text;
}